@font-face {
    font-family: OstrichSans-Bold;
    src: url(../fonts/OstrichSans-Bold.otf);
    
}

@font-face {
    font-family: OstrichSans-Black;
    src: url(../fonts/OstrichSans-Black.otf);
    
}

@font-face {
    font-family: OstrichSans-Light;
    src: url(../fonts/OstrichSans-Light.otf);
    
}

@font-face {
    font-family: OstrichSans-Heavy;
    src: url(../fonts/OstrichSans-Heavy.otf);
    
}

html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    
font-family: "OstrichSans-Black";
    font-size: 30pt;
    padding-bottom: 2%;
    text-align: center;
    
    
}

a {
    
    text-decoration: none;
    
}


h2 {
    font-family: "OstrichSans-Bold";
    text-align: center;
    font-size: 30px;
    color: black;
}

p {
    font-size: 20px;
    font-family: "OstrichSans-black";
    color: black;
}

header {
    
    padding: 0 0 0 0;
}

header video {
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    
   
}

nav:before,
nav:after {
    content: " ";
    display: table;
}

nav:after {
    clear: both;
}


nav {
    position: fixed;
    height: 10%;
    width: 88%;
    position: relative;
    background-color: #DCB579;
    padding: 0 0 1% 12%;
    
}

nav ul {
    padding: 1.1% 0 0 0;
    margin: 0 auto;
    width: 100%;
    height: 40%;
    
}


nav li {
    display: inline;
    float: left;
    margin: 0 4% 0 4%;
    
    
}


nav li img {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
}

#about {
    padding: 5% 8%;
    background-color: #DCB579;
    margin: 0 0 0 0;
}

#mission {
    padding: 50px 80px;
    background-color: #F7C331;
}

#mission img {
    border-radius: 50%;
    height: 30%;
    width: 30%;
    float: left;
    width: 300px;
    height: 200px;
}


#mission p,
#mission h2 {
    margin-left: 35%;
    text-align: justify;
}

#care {
    width: 100%;
    height: 500px;
    background-image: url(images/pic1.jpg);
    background-size: 100%, 1000px;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hound {
    width: 100%;
    height: 500px;
    background-image: url(images/pic2.jpg);
    background-size: 100%, 1000px;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imgthree {
    width: 100%;
    height: 500px;
    background-image: url(images/pic3.jpg);
    background-size: 100%, 1000px;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#vision {
    padding-bottom: 2.3%;
    padding-left:80px;
    padding-right:80px;
    background-color: #F7882F;
}

#dream {
    padding: 50px 80px;
    background-color: #DCB579;
}

#promote {
    padding: 50px 80px;
    background-color: #DCB579;
}

#promote ul {
    font-family: "OstrichSans-Black";
    font-size: 20px;
}

#vision img {
    width: 30%;
    float: right;
    width: 300px;
    height: 210px;
}

#vision p,
#vision h2 {
    text-align: right;
    margin-right: 25%
}

#vision h2 {
    padding-top: 5%;
}

#values {
    padding: 50px 80px;
    text-align: center;
    background-color: #DCB579;
}

#wecare {
    padding: 50px 80px;
    text-align: center;
    background-color: #DCB579;
}

.img-circle {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1%;
    margin-right: 10%;
    margin-left: 10%;
    height: 250px;
    width: 300px;
}

#principle {
    text-align: left;
    padding: 50px 80px;
    background-color: #DCB579;
}

#principle ul {
    font-family: "OstrichSans-Black";
    font-size: 20px;
}

#join {
    padding: 50px 80px;
    background-color: #DCB579;
}

#gallery {
    text-align: center;
    padding: 50px 80px;
    background-color: #DCB579;
}

footer {
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #D3D3D3;
    background-color: black;
    font-family: OstrichSans-Heavy;
    text-align: center;
}

footer a {
    color: floralwhite;
    text-decoration: none;
    
}

#about-us {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #DCB579;
    margin: 0 0 0 0;
}

#galo {
    display: inline-block;
    width: 20%;
    float: left;
    margin: 0 0 0 10%;
}

#danzel,
#patricia {
    display: inline-block;
    width: 20%;
    float: left;
    margin: 0 0 0 10%;
}

#angelo {
    display: inline-block;
    width: 21.5%;
    float: right;
    margin: 10% 25% 0 0%;
}

#miguel {
    display: inline-block;
    width: 23%;
    float: left;
    margin: 10% 0 0 20%;
}

#galo-pic,
#danzel-pic,
#patricia-pic {
    width: 100%;
    height: 10%;
}

#miguel-pic {
    width: 100%;
    height: 10%;
}

#angelo-pic {
    width: 100%;
    height: 10%;
}

.name {
    font-weight: bold;
    text-align: center;
}

.options {

    color: black;
    font-family: "OstrichSans-Black";
    font-size: 20pt;
    
}

.role {
    text-align: center;
}

#about-us h2 {
    background-color: #DCB579;
    text-align: center;
    margin: 0 0 3% 0;
}