@font-face {
    font-family: OstrichSans-Black;
    src: url(fonts/OstrichSans-Black.otf);
    
}

@font-face {
    font-family: SF_Cartoonist_Hand;
    src: url(fonts/SF_Cartoonist_Hand.ttf);
    
}
@font-face {
    font-family: TooneyNoodleNF;
    src: url(fonts/TooneyNoodleNF.ttf);
}
@font-face{
    font-family: organique;
    src: url(fonts/organique.otf);
}
*{
    margin-left:auto;
    margin-right:auto;
}
body{
    background-color: white;
    margin: 0;
}
h1 {
    font-family: "organique";
    font-size: 30pt;
}
h2 {
    font-family: "TooneyNoodleNF";
    text-align: center;
    font-size: 30px;
    color: black;
}
p {
    text-align:justify;
    font-size: 20px;
    font-family: "SF_Cartoonist_Hand";
    color: black;

}
nav:before,
nav:after {
    content: " ";
    display: table;
}

nav:after {
    clear: both;
}


nav {
    margin-top: 4%;
    position:relative;
    height: 500px;
    min-height: 100%;
    width: 100%;
    padding:  1% 0 1% 0;
    background-image: url('images/LUDA.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

nav ul {
    background-color: #6B7A8F;
    top:0;
    position: fixed;
    padding: 1.1% 0 0 15%;
    margin: 0 auto;
    width: 100%;
    height: 6%;
    font-family: "OstrichSans-Black";
    font-size: 20pt;
}

nav ul a{
    color: white;
    text-decoration: none;
}

nav ul a:hover{
    color: #F7882F;
    text-decoration: none;
    
}

nav ul li:nth-child(3){
    content: url(images/logo3.png);  
}
nav ul li:nth-child(3):hover{
    transform: scale(2);
}

nav li {
    display: inline;
    float: left;
    margin: 0 4% 0 4%;
}

/*div#about{
    
}*/

#greeting {
    text-align:center;
}

#about {
    
    padding: 1% 6% 1% 6%;
    
}

#about-animal{
    text-align:center;
}
#about-content{
    margin-top:-1%;
    text-align:center;
}
#mission{
    float:left;       
    width: 38%;
    margin: 2.5% 3% 3% 7%;
    background-color:aliceblue;
    border-radius:25px;
    padding: 1% 1% 0 1%;
}
#mission img{
    height:200px;
    margin-left:12%;
}
#mission-header{
    text-align:center;
}
#mission-content {
    padding: 2%;
}

#vision{
    float: right;       
    width: 38%;
    margin: 2.5% 6% 3% 3%;
    height:50%;
    background-color:aliceblue;
    border-radius:25px;
    padding-bottom: 1.5%;
    padding: 1% 1% 3% 1%;
}
#vision img{
    height:200px;
    margin-left:12%;
}
#vision-header{
    text-align:center;
}
#vision-content {
    padding: 2%;
}
#care {
    width: 100%;
    height: 500px;
    
}
#values{
    height:50%;
    margin: 4% 3% 0 3%;
    background-color:aliceblue;
    background-image: url('images/CoreValuesIcon.png');
    background-repeat: no-repeat;
    background-size: 40% 70%;
    position: relative;
    background-position: left;
    border-radius:25px;
    padding: 1% 1% 1% 1%;
    margin-top:0;
    padding-left:19%;
    padding-right:5%;
    clear:right;
 
    
} 



#social-content{
    padding:0 0 0 38%;
}

#principle{
    background-color:aliceblue;
    text-align-last: center;
    margin: 2% 3% 0 3%;
    border-radius:25px;
    padding: 1% 1% 2% 1%;
    height:50%;
   
}

#principle ul{
    list-style-type: none;
    font-family: "SF_Cartoonist_Hand";
    font-size: 20px;
}


#principle-content {
    
    margin: 2% 0 0 8%;
}

ul {
    
    margin: 1% 0 0 6%;
}
    


#gallery {
    
}

#gallery-header {
    
   text-align: center;
}

.table-gallery img:nth-child(1){
float:left;
    margin: 0 0 0 11.4%

}	

.table-gallery img:nth-child(2){

}


.table-gallery img:nth-child(3){
float:right;
    margin: 0 11% 0 0;
}

.img-circle {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1%;
    height: 250px;
    width: 300px;
    transition: all 0.5s ease;
}

.img-circle:hover {
    border-radius: 50%;
    transform: rotate(360deg);
}

#galo {
    display: inline-block;
    width: 20%;
    float: left;
    margin: 0 0 0 10%;
}

#danzel,
#patricia {
    display: inline-block;
    width: 20%;
    float: left;
    margin: 0 0 0 10%;
}

#angelo {
    display: inline-block;
    width: 21.5%;
    float: right;
    margin: 10% 25% 0 0%;
}

#miguel {
    display: inline-block;
    width: 23%;
    float: left;
    margin: 10% 0 0 20%;
}

#galo-pic,
#danzel-pic,
#patricia-pic {
    width: 100%;
    height: 10%;
}

#miguel-pic {
    width: 100%;
    height: 10%;
}

#angelo-pic {
    width: 100%;
    height: 10%;
}


#wecare, #dream, #promote, #about-us, #join  {
    background-color:aliceblue;
    margin: 2% 8% 0 8%;
    border-radius:25px;
    padding: 1% 1% 1% 1%
}
#promote ul li{
    font-family: "SF_Cartoonist_Hand";
    font-size: 20px;
}

#about-us {
 
    display: inline-block;
    
}

footer {
    background-color:cadetblue;
    text-align: center;
    padding: 1% 0 1% 0;
    margin-top: 2%;
    font-family: OstrichSans-Heavy;
}

footer a{
    text-decoration: none;
    color: black;
}
#aboutus-header, joinus-header {
    
    text-align: center;
    
}

