html {
    height:100%;
    width:100%;
}
* {
    margin:0;
    padding:0;
    
}
body {
	background-color: #CCC;
	margin:80px 80px 100px 100px;
}
#header, #footer {
    margin-left: auto; 
    margin-right: auto;
}
#header {
	position:fixed;
	top:0px;
	left:0px;
    height:10%;
	width:100%;
	color:#CCC;
	background:#333;
	padding:20px;
    font-size:15x; 
}
img {
    /*position: absolute;
    height:339px;
    left: -70px;
    top: -60px;
    z-index: -3;*/
    position: absolute;
    height:170px;
    width:400px;
    top: -39px; bottom:0; left: 0; right:0;
    margin: auto;
    z-index: 2;
}
img:hover {
    transform: scale(1.1);
}

#content {
    width: 100%;
    height: 600px;
    padding-top: 60px;
    background-color:silver;
    
}
#maincontent {
    width:100%;
    height:100%;
    padding:20px;
    margin: 20px;
    
}
.menuimage1 {
    display:block;
}
.menuimage2 {
    display:none;
}

/*ul.tabs {
    list-style-type:none;
    margin:0;
    padding:0;
    background-color: #f1f1f1;
}
ul.tabs li {
    float:right;
    padding:0px 50px;
}
ul.tabs li a {
    direction:ltr;
    display:inline-block;
    text-align:center;
    padding: 14px 0px;
    text-decoration:none;
    color:white;
}*/
.navbar:before, .navbar:after {
    content:" ";
    display:table;
}
.navbar:after {
    clear:both;
}
nav {
    position:fixed;
    top:100px;
    left:0;
    right:0;
    bottom:0;
    background-color:#aaa;
    height:50px;
    width:100%;
    border-bottom: 2px solid #283744;
    font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
}
nav ul {
    padding: 0;
    margin:0 auto;
    width:100%;
    height:50px;
}
nav li{
    display:inline;
    float: left;
}
nav a { 
    color:white;
    /*display: block; 
    float: left; 
    height: 20px;
    padding: 6px 25px 5px 28px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    background: transparent;*/
    display: inline-block;
    text-align:center;
    text-decoration:none;
    line-height:50px;
    text-shadow: 1px 1px 0px #283744;
    padding: 0 20px;
}
nav li a {
    border-right: 1px solid #576979;
	box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
li:hover a {background-color:#2DC751}
#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}
@media screen and (max-width:600px) {
    .menuimage1 {
        display:none;
    }
    .menuimage2 {
        display:block;
    }
    nav { 
        position:fixed;
  		height:auto;
  	}
  	nav ul {
  		width:100%;
  		display:block;
  		height:auto;
  	}
  	nav li {
  		width:50%;
  		float:left;
  		position:relative;
  	}
  	nav li a {
		border-bottom:1px solid #576979;
		border-right:1px solid #576979;
	}
  	nav a {
	  	text-align:left;
	  	width:100%;
	  	text-indent:25px;
        padding:0 auto;
  	}
}




