html {height:100%;}
* {
    margin:0;
    padding:0;
}
body {
	background-color: #CCC;
	margin:80px 80px 100px 100px;
    font-family: "Lato", sans-serif;
}
#header, #menubar, #footer {
    margin-left: auto; 
    margin-right: auto;
}
#header {
	position:fixed;
	top:0px;
	left:0px;
    height:70px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:20px;
    font-size:15x; 
}
img {
    position: absolute;
    height:339px;
    left: -70px;
    top: -60px;
    z-index: -3;
}
#menubar {
    width:900px;
    height:70px;
    padding-top:30px;
    padding-left:270px; 
}

#content {
    width: 100%;
    height: 600px;
    padding-top: 60px;
    background-color:silver;
    
}

#maincontent {
    width:100%;
    height:100%;
    padding:20px;
    margin: 20px;
    
}


/*ul.tabs {
    list-style-type:none;
    margin:0;
    padding:0;
    background-color: #f1f1f1;
}
ul.tabs li {
    float:right;
    padding:0px 50px;
}
ul.tabs li a {
    direction:ltr;
    display:inline-block;
    text-align:center;
    padding: 14px 0px;
    text-decoration:none;
    color:white;
}*/
ul#menu {
    float:right;
    margin:0;
}
ul#menu li{
    float: left;
    list-style: none;
    margin: 10px 2px 0 0;
    background: transparent;
    
}

ul#menu li a { 
    font: normal 100% 'trebuchet ms', sans-serif;
    display: block; 
    float: left; 
    height: 20px;
    padding: 6px 25px 5px 28px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    background: transparent;
}
#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}





